@model CallbackViewModel
@{
    ViewData["Title"] = "نتیجه پرداخت";
}
<p>
    <h3>اطلاعات تراکنش اصلی:</h3>
    <ul>
        <li>
            <span>Time:</span>
            <span>@Model.Time</span>
        </li>
        <li>
            <span>Amount:</span>
            <span>@Model.TranResult.Amount</span>
        </li>
        <li>
            <span>CardNumber:</span>
            <span>@Model.TranResult.CardNumber</span>
        </li>
        <li>
            <span>LocalInvoiceId:</span>
            <span>@Model.TranResult.LocalInvoiceId</span>
        </li>
        <li>
            <span>PayGateTranID:</span>
            <span>@Model.TranResult.PayGateTranID</span>
        </li>
        <li>
            <span>RefID:</span>
            <span>@Model.TranResult.RefID</span>
        </li>
        <li>
            <span>RRN:</span>
            <span>@Model.TranResult.RRN</span>
        </li>
        <li>
            <span>ServiceTypeId:</span>
            <span>@Model.TranResult.ServiceTypeId</span>
        </li>
    </ul>
</p>

@section Scripts{
    <script type="text/javascript">

    </script>
}