@model CallbackViewModel
@{
    ViewData["Title"] = "AsanPardakht IPG Sample";
}
<br />
<div class="row">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="col-lg-3 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>خطا</span>
                </div>
                <div class="panel-body">
                    <p>
                        @Model.ErrorMessage
                    </p>
                </div>
            </div>
        </div>
    }
    @if (Model.TranResult != null)
    {
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>نتیجه تراکنش</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="text-center">اطلاعات تراکنش اصلی</h5>
                            <table class="table table-bordered table-striped ltr">
                                <tr>
                                    <th>Amount:</th>
                                    <td>@Model.TranResult.Amount</td>
                                </tr>
                                <tr>
                                    <th>CardNumber:</th>
                                    <td>@Model.TranResult.CardNumber</td>
                                </tr>
                                <tr>
                                    <th>LocalInvoiceId:</th>
                                    <td>@Model.TranResult.LocalInvoiceId</td>
                                </tr>
                                <tr>
                                    <th>PayGateTranID:</th>
                                    <td>@Model.TranResult.PayGateTranID</td>
                                </tr>
                                <tr>
                                    <th>RefID:</th>
                                    <td>@Model.TranResult.RefID</td>
                                </tr>
                                <tr>
                                    <th>RRN:</th>
                                    <td>@Model.TranResult.RRN</td>
                                </tr>
                                <tr>
                                    <th>ServiceTypeId:</th>
                                    <td>@Model.TranResult.ServiceTypeId</td>
                                </tr>
                            </table>
                            <h5 class="text-center">اطلاعات ارائه سرویس</h5>
                            @if (Model.TranResult.ServiceType == AsanPardakht.IPG.Models.ServiceType.Buy)
                            {
                                <div class="alert alert-info">
                                    تراکنش خرید سرویس جانبی ندارد
                                </div>
                            }
                            else
                            {
                                <table class="table table-bordered table-striped ltr">
                                    <tr>
                                        <th>BillId:</th>
                                        <td>@Model.TranResult.BillId</td>
                                    </tr>
                                    <tr>
                                        <th>BillOrganizationNameFa:</th>
                                        <td>@Model.TranResult.BillOrganizationNameFa</td>
                                    </tr>
                                    <tr>
                                        <th>OperatorId:</th>
                                        <td>@Model.TranResult.OperatorId</td>
                                    </tr>
                                    <tr>
                                        <th>OperatorNameFa:</th>
                                        <td>@Model.TranResult.OperatorNameFa</td>
                                    </tr>
                                    <tr>
                                        <th>ProductId:</th>
                                        <td>@Model.TranResult.ProductId</td>
                                    </tr>
                                    <tr>
                                        <th>ProductNameFa:</th>
                                        <td>@Model.TranResult.ProductNameFa</td>
                                    </tr>
                                    <tr>
                                        <th>ProductPrice:</th>
                                        <td>@Model.TranResult.ProductPrice</td>
                                    </tr>
                                    <tr>
                                        <th>SimTypeId:</th>
                                        <td>@Model.TranResult.SimTypeId</td>
                                    </tr>
                                    <tr>
                                        <th>SimTypeTitleFa:</th>
                                        <td>@Model.TranResult.SimTypeTitleFa</td>
                                    </tr>
                                    <tr>
                                        <th>ServiceStatusCode:</th>
                                        <td>
                                            @Model.TranResult.ServiceStatusCode
                                            @if (Model.TranResult.IsSuccessServiceStatusCode)
                                            {
                                                <span class="label-success">
                                                    موفق
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="label-danger">
                                                    ناموفق
                                                </span>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 message-plcs">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="/Home/Verify" class="btn btn-warning btn-block ajax-link" data-merchant-configuration-id="@(Model.TranResult.MerchantConfigurationId)" data-pay-gate-tran-id="@(Model.TranResult.PayGateTranID)">Verify Transaction</a>
                                </div>
                                <div class="col-xs-6">
                                    <br />
                                    <a href="/Home/Settle" class="btn btn-success btn-block ajax-link" data-merchant-configuration-id="@(Model.TranResult.MerchantConfigurationId)" data-pay-gate-tran-id="@(Model.TranResult.PayGateTranID)">Settle Transaction</a>
                                </div>
                                <div class="col-xs-6">
                                    <br />
                                    <a href="/Home/Reverse" class="btn btn-danger btn-block ajax-link" data-merchant-configuration-id="@(Model.TranResult.MerchantConfigurationId)" data-pay-gate-tran-id="@(Model.TranResult.PayGateTranID)">Reverse Transaction</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>پاسخ متد زمان سرور</span>
            </div>
            <div class="panel-body ltr">
                <span>@Model.Time</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#default" data-toggle="tab">پرداخت با پذیرنده در تنظیمات</a>
            </li>
            <li>
                <a href="#custom" data-toggle="tab">پرداخت قابل تنظیم</a>
            </li>
            <li>
                <a href="#custom_scenario" data-toggle="tab">سناریوهای خاص</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="default" class="tab-pane fade in active">
                <div class="row">
                    <br /><br />
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>پرداخت</span>
                            </div>
                            <div class="panel-body">
                                <form asp-action="Pay">
                                    <div class="form-group">
                                        <label>مبلغ:</label>
                                        <input type="text" class="form-control ltr" placeholder="مبلغ به ریال" name="Amount">
                                    </div>
                                    <div class="form-group">
                                        <label>موبایل:</label>
                                        <input type="text" class="form-control ltr" placeholder="شماره موبایل" name="Mobile">
                                    </div>
                                    <div class="form-group">
                                        <label>شناسه پرداخت:</label>
                                        <input type="text" class="form-control ltr" placeholder="شناسه پرداخت" name="PaymentId">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="UseDefaultSharing" value="True" />
                                            استفاده از تسهیم پیش فرض
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">پرداخت</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>پرداخت قبض</span>
                            </div>
                            <div class="panel-body">
                                <form asp-action="PayBill">
                                    <div class="form-group">
                                        <label>شناسه قبض:</label>
                                        <input type="text" class="form-control ltr" placeholder="شناسه قبض" name="BillId">
                                    </div>
                                    <div class="form-group">
                                        <label>شناسه پرداخت:</label>
                                        <input type="text" class="form-control ltr" placeholder="شناسه پرداخت" name="PayId">
                                    </div>
                                    <div class="form-group">
                                        <label>شماره تلفن ثابت:</label>
                                        <input type="text" class="form-control ltr" placeholder="شماره تلفن ثابت" name="PhoneNumber">
                                    </div>
                                    <div class="form-group">
                                        <label>مبلغ:</label>
                                        <input type="text" class="form-control ltr" placeholder="مبلغ به ریال" name="Amount">
                                    </div>
                                    <div class="form-group">
                                        <label>موبایل:</label>
                                        <input type="text" class="form-control ltr" placeholder="شماره موبایل" name="Mobile">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">پرداخت</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>خرید شارژ موبایل</span>
                            </div>
                            <div class="panel-body">
                                <form asp-action="PayCharge">
                                    <div class="form-group">
                                        <label>موبایل شارژ شونده:</label>
                                        <input type="text" class="form-control ltr" placeholder="شماره موبایل شارژ" name="DestinationMobile">
                                    </div>
                                    <div class="form-group">
                                        <label>نوع شارژ:</label>
                                        <select class="form-control">
                                            <option data-telecom-operator-id="" data-product-id="" data-amount="">----</option>
                                            <optgroup label="همراه اول">
                                                <option data-telecom-operator-id="1" data-product-id="514" data-amount="10000">1,000 توماني</option>
                                                <option data-telecom-operator-id="1" data-product-id="515" data-amount="20000">2,000 توماني</option>
                                                <option data-telecom-operator-id="1" data-product-id="516" data-amount="50000">5,000 توماني</option>
                                            </optgroup>
                                            <optgroup label="ایرانسل">
                                                <option data-telecom-operator-id="2" data-product-id="509" data-amount="10900">1,000 توماني</option>
                                                <option data-telecom-operator-id="2" data-product-id="510" data-amount="21800">2,000 توماني</option>
                                                <option data-telecom-operator-id="2" data-product-id="511" data-amount="54500">5,000 توماني</option>
                                            </optgroup>
                                            <optgroup label="رایتل">
                                                <option data-telecom-operator-id="4" data-product-id="521" data-amount="20000">2,000 توماني</option>
                                                <option data-telecom-operator-id="4" data-product-id="522" data-amount="50000">5,000 توماني</option>
                                                <option data-telecom-operator-id="4" data-product-id="523" data-amount="100000">10,000 توماني</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>کد اپراتور:</label>
                                        <input type="text" class="form-control ltr" placeholder="کد اپراتور" name="TelecomOperatorId">
                                    </div>
                                    <div class="form-group">
                                        <label>کد شارژ:</label>
                                        <input type="text" class="form-control ltr" placeholder="کد شارژ" name="ProductId">
                                    </div>
                                    <div class="form-group">
                                        <label>مبلغ:</label>
                                        <input type="text" class="form-control ltr" placeholder="مبلغ به ریال" name="Amount">
                                    </div>
                                    <div class="form-group">
                                        <label>موبایل:</label>
                                        <input type="text" class="form-control ltr" placeholder="شماره موبایل" name="Mobile">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">پرداخت</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>خرید بسته</span>
                            </div>
                            <div class="panel-body">
                                <form asp-action="PayBolton">
                                    <div class="form-group">
                                        <label>موبایل شارژ شونده:</label>
                                        <input type="text" class="form-control ltr" placeholder="شماره موبایل شارژ" name="DestinationMobile">
                                    </div>
                                    <div class="form-group">
                                        <label>نوع شارژ:</label>
                                        <select class="form-control">
                                            <option data-telecom-operator-id="" data-product-id="" data-amount="">----</option>
                                            <optgroup label="ایرانسل - سیمکارت اعتباری">
                                                <option data-telecom-operator-id="2" data-product-id="456" data-amount="17440" data-sim-type-id="1">شصت مگ 1,600ت</option>
                                            </optgroup>
                                            <optgroup label="همراه اول - سیمکارت اعتباری">
                                                <option data-telecom-operator-id="1" data-product-id="1001027" data-amount="17440" data-sim-type-id="1">1 روزه  60مگ</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>نوع سیمکارت:</label>
                                        <input type="text" class="form-control ltr" placeholder="نوع سیمکارت" name="SimTypeId">
                                    </div>
                                    <div class="form-group">
                                        <label>کد اپراتور:</label>
                                        <input type="text" class="form-control ltr" placeholder="کد اپراتور" name="TelecomOperatorId">
                                    </div>
                                    <div class="form-group">
                                        <label>کد شارژ:</label>
                                        <input type="text" class="form-control ltr" placeholder="کد شارژ" name="ProductId">
                                    </div>
                                    <div class="form-group">
                                        <label>مبلغ:</label>
                                        <input type="text" class="form-control ltr" placeholder="مبلغ به ریال" name="Amount">
                                    </div>
                                    <div class="form-group">
                                        <label>موبایل:</label>
                                        <input type="text" class="form-control ltr" placeholder="شماره موبایل" name="Mobile">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">پرداخت</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="custom" class="tab-pane fade">
                <div class="row">
                    <br /><br />
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>پرداخت قابل تنظیم</span>
                            </div>
                            <div class="panel-body">
                                <form asp-action="PayCustom" class="custom-pay">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>پذیرنده:</label>
                                                <select class="form-control merchant-configs">
                                                    <option data-config---merchant-name="" data-config---merchant-user="" data-config---merchant-password="" data-config---merchant-configuration-id="">----</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-3">

                                            <div class="form-group">
                                                <label>نام پذیرنده:</label>
                                                <input type="text" class="form-control" placeholder="Merchant Name" name="Config.MerchantName">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3">

                                            <div class="form-group">
                                                <label>نام کاربری پذیرنده:</label>
                                                <input type="text" class="form-control ltr" placeholder="Merchant User" name="Config.MerchantUser">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3">

                                            <div class="form-group">
                                                <label>کلمه عبور پذیرنده:</label>
                                                <input type="password" class="form-control ltr" placeholder="Merchant Password" name="Config.MerchantPassword">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3">

                                            <div class="form-group">
                                                <label>کد تنظیمات پذیرنده:</label>
                                                <input type="text" class="form-control ltr" placeholder="Merchant Configuration Id" name="Config.MerchantConfigurationId">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label>نوع سرویس:</label>
                                                <select class="form-control">
                                                    <option data-service-type-id="">----</option>
                                                    <option data-service-type-id="1">خرید</option>
                                                    <option data-service-type-id="3">قبض</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label>کد نوع سرویس:</label>
                                                <input type="text" class="form-control ltr" placeholder="Service Type Id" name="ServiceTypeId">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>مبلغ:</label>
                                                <input type="text" class="form-control ltr" placeholder="مبلغ به ریال" name="Amount">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>موبایل:</label>
                                                <input type="text" class="form-control ltr" placeholder="شماره موبایل" name="Mobile">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>شناسه پرداخت:</label>
                                                <input type="text" class="form-control ltr" placeholder="Payment Id" name="PaymentId">
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-xs-12 additional-data-place">
                                            <a class="btn btn-warning btn-block add-additional-data">
                                                <i class="fas fa-plus"></i>
                                                Add Additional Data
                                            </a>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-xs-12 settlement-portion-place">
                                            <a class="btn btn-danger btn-block add-settlement-portion">
                                                <i class="fas fa-plus"></i>
                                                Add Settlement Portion
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel panel-default portion-template" style="display:none;">
                                        <div class="panel-body">
                                            <i class="fas fa-times-circle text-danger"></i>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-4">
                                                    <div class="form-group">
                                                        <label>شماره شبا:</label>
                                                        <input type="text" class="form-control ltr" placeholder="Iban" name="SettlementPortions[index].IBAN" disabled="disabled" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4">
                                                    <div class="form-group">
                                                        <label>مبلغ:</label>
                                                        <input type="text" class="form-control ltr" placeholder="Amount In Rials" name="SettlementPortions[index].AmountInRials" disabled="disabled" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4">
                                                    <div class="form-group">
                                                        <label>شناسه پرداخت:</label>
                                                        <input type="text" class="form-control ltr" placeholder="Payment Id" name="SettlementPortions[index].PaymentId" disabled="disabled" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <p>
                                        توجه فرمایید که پرداخت های از این فرم قابلیت verify و settle و reverse را ندارند و بصورت اتوماتیک برگشت خواهند خورد. این فرم فقط برای این است که مطمئن شوید تراکنش اصلی بدون مشکل پرداخت خواهد شد.
                                        زمانی که تراکنش اصلی با موفقیت پرداخت گردد، عملیات های ذکر شده بدون مشکل انجام خواهند شد.
                                    </p>
                                    <hr />
                                    <button type="submit" class="btn btn-primary btn-block">پرداخت</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="custom_scenario" class="tab-pane fade">
                <div class="row">
                    <br /><br />
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>قوه قضاییه</span>
                            </div>
                            <div class="panel-body">
                                <form asp-action="PayJud">
                                    <div class="form-group">
                                        <label>شناسه:</label>
                                        <input type="text" class="form-control ltr" placeholder="شناسه استعلام" name="ReferenceId">
                                    </div>
                                    <div class="form-group">
                                        <label>موبایل:</label>
                                        <input type="text" class="form-control ltr" placeholder="شماره موبایل" name="Mobile">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">پرداخت</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        var page = {
            init: function () {
                $('select').each(function () {
                    var select = $(this);
                    var form = select.closest('form');
                    select.change(function () {
                        var selectedItem = $(this).find("option:selected");
                        var data = selectedItem.data();
                        for (var name in data) {
                            var inputName = name.replace(/\b[a-z]/g, function (letter) {
                                return letter.toUpperCase();
                            });
                            inputName = inputName.replace('-', '.');
                            var input = form.find('input[name="' + inputName + '"]');
                            var value = data[name];
                            input.val(value);
                            input.prop('readonly', value && true);
                        }
                    });
                });

                $('a.ajax-link').each(function () {
                    var link = $(this);
                    var msgPlcs = $('.message-plcs');
                    link.click(function (e) {
                        e.preventDefault();

                        var link = $(this);

                        if (link.data('loading'))
                            return;
                        link.data('loading', true);

                        var linkData = link.data();
                        var postData = {};
                        for (var name in linkData) {
                            var inputName = name.replace(/\b[a-z]/g, function (letter) {
                                return letter.toUpperCase();
                            });
                            postData[inputName] = linkData[name];
                        }

                        $.ajax({
                            url: link.attr('href'),
                            type: 'post',
                            data: JSON.stringify(postData),
                            contentType: 'application/json',
                            success: function (data) {

                                if (data.isSuccess) {
                                    msgPlcs.append($('<div />').addClass('alert alert-success').append(data.message));
                                } else if (data.error) {
                                    msgPlcs.append($('<div />').addClass('alert alert-danger').append(data.error));
                                } else {
                                    msgPlcs.append($('<div />').addClass('alert alert-danger').append('خطای نامشخص'));
                                }
                            },
                            error: function () {
                                console.log(arguments);
                                msgPlcs.append($('<div />').addClass('alert alert-danger').append('خطای نامشخص'));
                            },
                            complete: function () {
                                link.data('loading', false);
                            }
                        });
                    });
                });

                $('.add-additional-data').click(function () {
                    var name = prompt('Enter AdditionalData Name:');
                    if (name) {
                        var html = '<div class="form-group"><label><i class="fas fa-times-circle text-danger" onclick="$(this).closest(\'.form-group\').remove();"></i> - ' + name + ':</label><input type="text" class="form-control ltr" placeholder="' + name + '" name="AdditionalData[' + name + ']" /></div>';
                        var tags = $(html);
                        $('.additional-data-place').append(tags);
                    }
                });

                $('.add-settlement-portion').click(function () {
                    var cloned = $('.portion-template').clone().removeClass('portion-template').show();
                    var index = Number($(this).data('nextIndex'));
                    if (isNaN(index)) index = 0;
                    cloned.find('input').each(function () {
                        $(this).prop('disabled', false);
                        $(this).attr('name', $(this).attr('name').replace('index', index));
                    });
                    cloned.find('.fas.fa-times-circle').click(function () {
                        $(this).closest('.panel.panel-default').remove();
                        $('.settlement-portion-place .panel.panel-default').each(function (index) {
                            $(this).find('input').each(function () {
                                $(this).attr('name', $(this).attr('name').replace(/\[*.\]/, '[' + index + ']'));
                            });
                        });
                    });
                    $('.settlement-portion-place').append(cloned);
                    $(this).data('nextIndex', ++index)
                });

                $('form.custom-pay').submit(function () {
                    var form = $(this);
                    var config = {
                        name: form.find('input[name="Config.MerchantName"]').val(),
                        user: form.find('input[name="Config.MerchantUser"]').val(),
                        pass: form.find('input[name="Config.MerchantPassword"]').val(),
                        cid: form.find('input[name="Config.MerchantConfigurationId"]').val()
                    };

                    var exist = false;
                    var configs = page.getMerchantConfigs();
                    $(configs).each(function (index, item) {
                        if (item.user == config.user) {
                            exist = true;
                            return true;
                        }
                    });

                    if (!exist) {
                        configs.push(config);
                        page.setMerchantConfigs(configs);
                    }
                });

                var configs = page.getMerchantConfigs();
                $(configs).each(function (index, item) {
                    var tag = '<option data-config---merchant-name="' + item.name + '" data-config---merchant-user="' + item.user + '" data-config---merchant-password="' + item.pass + '" data-config---merchant-configuration-id="' + item.cid + '">' + item.name + ' - (' + item.user + ')</option>';
                    $('.merchant-configs').append(tag);
                });
            },
            merchantConfigsName: 'auisybausydu6',
            getMerchantConfigs: function () {
                try {
                    var value = localStorage.getItem(page.merchantConfigsName);
                    if (value)
                        return JSON.parse(value);
                } catch (e) {
                    console.log(e);
                }
                return [];
            },
            setMerchantConfigs: function (configs) {
                try {
                    localStorage.setItem(page.merchantConfigsName, JSON.stringify(configs));
                } catch (e) {
                    console.log(e);
                }
            }
        };
        $(document).ready(page.init);
    </script>
}
